*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

*{
	font-family: 'Lato', sans-serif;
}

.row{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1%;
}

.name_text{
	margin: 0;
	color: #2d3c49;
	font-weight: 100;
	text-align:right;
	font-size: 3em;
}

.title_text{
	margin: 0;
	color: #2d3c49;
	font-weight: 100;
	text-align:right;	
	font-size: 1.5em;
}

.subtitle_text{
	margin: 0;
	color: #7d97ad;
	font-weight: 100;
	font-size: 1.5em;	
}

.project_text{
	margin: 0;
	color: #2d3c49;
	font-size: 2.0em;
	text-align: center;	
}

.links{
	margin-bottom: 10px;
	text-align: center;
}

.header_line{
	height: 2px;
	background-color: #7d97ad;
	width: 100%;
}

.main_image{
	width: 950px;
	height: 350px;
	display: block;
}

.project_image{
	width: 300px;
	height: 200px;
	display: block;
}

.logo{
	width: 100px;
	height: 100px;
	display: block;
	margin-left: 0;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p{
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
}
