.container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 699px) {
	[class*="col-"]{
		width: 100%;
	}

	.logo{
		margin-left: auto;
	}

	.name_text{
		text-align: center;
	}

	.title_text{
		text-align: center;
	}
}

@media screen and (min-width: 700px){
	.col-1{
		width: 8.33%;
	}
	.col-2{
		width: 16.66%;
	}
	.col-3{
		width: 25%;
	}
	.col-4{
		width: 33.33%;
	}
	.col-5{
		width: 41.66%;
	}
	.col-6{
		width: 50%;
	}
	.col-7{
		width: 58.33%;
	}
	.col-8{
		width: 66.66%;
	}
	.col-9{
		width: 75%;
	}
	.col-10{
		width: 83.33%;
	}
	.col-11{
		width: 91.66%;
	}
	.col-12{
		width: 100%;
	}
}

@media screen and (min-width: 960px) {

	.container{
    	width: 950px;
    	margin-left: auto;
    	margin-right: auto;
    }
  
  	.col-l-1{
		width: 8.33%;
	}
	.col-l-2{
		width: 16.66%;
	}
	.col-l-3{
		width: 25%;
	}
	.col-l-4{
		width: 33.33%;
	}
	.col-l-5{
		width: 41.66%;
	}
	.col-l-6{
		width: 50%;
	}
	.col-l-7{
		width: 58.33%;
	}
	.col-l-8{
		width: 66.66%;
	}
	.col-l-9{
		width: 75%;
	}
	.col-l-10{
		width: 83.33%;
	}
	.col-l-11{
		width: 91.66%;
	}
	.col-l-12{
		width: 100%;
	}
}

